{% extends 'layouts/base.html.twig' %}



{% block title 'new pin' %}

{% block body %}

<div class="row">
    <div class="col-md-6 mx-auto">

   {# length methode pour donner le nombre de pins #}
<h1 class="text-center">Creation de pin</h1>


{# create form with include partial _form.html.twig #}
    {{ include('pins/_form.html.twig', {submitButtonText: 'Créer d un pin'}) }}
    

    </div>
</div>





{% endblock %}
