{% extends 'base.html.twig' %}



{% block title 'new pin' %}

{% block body %}

{# length methode pour donner le nombre de pins #}
<h1>Creation de pin</h1>


{# create form with include partial _form.html.twig #}
    {{ include('pins/_form.html.twig', {submitButtonText: 'Créer d un pin'}) }}
    



{% endblock %}
