<footer class="container text-center mt-5">
    <p class="text-muted">
        <small>
            &copy; {{ 'now'|date('y') }} &middot;
            Site créer <span class="text-danger">&hearts;</span> par <a href="https://www.linkedin.com/in/philippe-lamorski-20a52217b" target="blank">Philippe Lamorski</a>
        </small>
    </p>
</footer>